.section-border {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: green;
}
.section-border-header {
  height: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  margin: 0;
  padding: 30px;
}

.section-border-header h3 {
  margin: 0;
}

.section-border-header h2 {
  margin: 0;
}

.scroll-button {
  width: 60px;
  height: 60px;
  top: 90px;
  position: absolute;
}

@media (max-width: 768px) {
  .scroll-button {
    top: 80px;
  }
  .section-border {
    font-size: small;
  }
}
